@model IEnumerable<Keno.Model.Offer>
@{
    ViewBag.Title = "Mã giảm giá";
    List<Keno.Model.Offer> LstOffers = Model != null ? Model.ToList() : new List<Keno.Model.Offer>();
    Keno.Model.UserProperty userProperty = ViewBag.UserProperty ?? new Keno.Model.UserProperty() { AttendanceList = "0000000" };
    var dayOfWeek = (int)DateTime.Now.DayOfWeek;
}

<link rel="stylesheet" href="@Url.Content("~/Content/Sales.css")">
<div class="container attendance-container">
    <div class="row">
        <div class="col-md-3">
            <div class="attendance-bonus text-center">
                <h4>Xu liền tay đổi quà ngay</h4>
                <h5>Ưu đãi cùng Keno xu</h5>
                <h3><span id="leftcoins">@string.Format("{0:0.#}", userProperty.Coins)</span> xu</h3>
                <div class="check-attendance">
                    <label class="attendance-container @(dayOfWeek == 1 ? "" : "disabled")" id="day1">
                        Thứ Hai
                        <input type="checkbox" @(dayOfWeek == 1 ? "" : "disabled") @(userProperty.AttendanceList[1] == '1' ? "checked" : "")>
                        <span class="checkmark"></span>
                    </label>
                    <label class="attendance-container @(dayOfWeek == 2 ? "" : "disabled")" id="day2">
                        Thứ Ba
                        <input type="checkbox" @(dayOfWeek == 2 ? "" : "disabled") @(userProperty.AttendanceList[2] == '1' ? "checked" : "")>
                        <span class="checkmark"></span>
                    </label>
                    <label class="attendance-container @(dayOfWeek == 3 ? "" : "disabled")" id="day3">
                        Thứ Tư
                        <input type="checkbox" @(dayOfWeek == 3 ? "" : "disabled") @(userProperty.AttendanceList[3] == '1' ? "checked" : "")>
                        <span class="checkmark"></span>
                    </label>
                    <label class="attendance-container @(dayOfWeek == 4 ? "" : "disabled")" id="day4">
                        Thứ Năm
                        <input type="checkbox" @(dayOfWeek == 4 ? "" : "disabled") @(userProperty.AttendanceList[4] == '1' ? "checked" : "")>
                        <span class="checkmark"></span>
                    </label>
                    <label class="attendance-container @(dayOfWeek == 5 ? "" : "disabled")" id="day5">
                        Thứ Sáu
                        <input type="checkbox" @(dayOfWeek == 5 ? "" : "disabled") @(userProperty.AttendanceList[5] == '1' ? "checked" : "")>
                        <span class="checkmark"></span>
                    </label>
                    <label class="attendance-container @(dayOfWeek == 6 ? "" : "disabled")" id="day6">
                        Thứ Bảy
                        <input type="checkbox" @(dayOfWeek == 6 ? "" : "disabled") @(userProperty.AttendanceList[6] == '1' ? "checked" : "")>
                        <span class="checkmark"></span>
                    </label>
                    <label class="attendance-container @(dayOfWeek == 0 ? "" : "disabled")" id="day0">
                        Chủ Nhật
                        <input type="checkbox" @(dayOfWeek == 0 ? "" : "disabled") @(userProperty.AttendanceList[0] == '1' ? "checked" : "")>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <h5>Đăng nhập để nhận thêm xu</h5>
                <p>(Mỗi lần đăng nhập được tích 50 xu)</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < LstOffers.Count; i++)
                        {
                            <div class="item @(i == 0 ? "active" : "")" style="background-image: url('@Url.Content(LstOffers[i].Image)')"></div>
                        }
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div style="margin-top: 30px;">
                @foreach (var offer in LstOffers)
                {
                    <div class="col-md-4">
                        <div class="advertise-item">
                            <div class="advertise-brick" style="height:100px; background-image: url('@Url.Content(offer.Image)')"></div>
                            <div class="text-right advertise-information @(userProperty.Coins >= offer.CoinsConsumed ? "coins-chargable" : "")" data-offerid="@offer.ID" data-percent="@offer.Percent" data-coinsconsumed="@string.Format("{0:n0}", offer.CoinsConsumed)">@(string.Format("{0:n0}", offer.CoinsConsumed)) xu | Đổi</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="charge-confirm" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn đổi?</p>
                <div>Mã giảm: <span id="percent"></span>%</div>
                <div>Số xu cần đổi: <span id="coins-consumed"></span></div>
            </div>
            <div class="modal-footer">
                <button id="btn-chargesalecode" type="button" class="btn btn-success" data-dismiss="modal">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.coins-chargable').on('click', function () {
                confirmChargingSaleCode($(this))
            });

            $('.attendance-container input').on('click', function () {
                if ($(this).is(':checked')) {
                    checkAttendance();
                    $(this).attr('disabled', true);
                }
            });
        });

        function confirmChargingSaleCode(item) {
            $('#percent').html(item.data('percent'));
            $('#coins-consumed').html(item.data('coinsconsumed'));
            $('#btn-chargesalecode').attr('onclick', 'chargeSaleCode(' + item.data('offerid') + ')');
            $('#charge-confirm').modal('show');
        }

        function chargeSaleCode(offerID) {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("ChargeSaleCode", "Home")',
                data: JSON.stringify({ offerID: offerID }),
                beforeSend: function () {
                    $('.loading').show();
                    $('#leftcoins').slideUp();
                },
                success: function (response) {

                    console.log(response);
                    updateSales(response.leftcoins);

                },
                error: function (error) {
                    alert(err.msg);
                    $('#leftcoins').slideDown();
                },
                complete: function () {
                    $('.loading').hide();
                }
            });
        }
        function updateSales(leftcoins)
        {
            $('#leftcoins').html(leftcoins);
            $('#leftcoins').slideDown();
            $('.coins-chargable').each(function (i, item) {
                var coinsconsumed = $(item).data('coinsconsumed');
                if (leftcoins < coinsconsumed) {
                    $(item).removeClass('coins-chargable');
                    $(item).unbind('click');
                }
            });
            $('.advertise-item .advertise-information').each(function (i, item) {
                var coinsconsumed = $(item).data('coinsconsumed');
                if (leftcoins < coinsconsumed && $(item).hasClass('coins-chargable')) {
                    $(item).removeClass('coins-chargable');
                    $(item).unbind('click');
                }
                else if (leftcoins >= coinsconsumed && !($(item).hasClass('coins-chargable'))) {
                    $(item).addClass('coins-chargable');
                    $(item).attr('onclick', 'confirmChargingSaleCode($(this))');
                }
            });
        }

        function checkAttendance() {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("CheckAttendance", "Home")',
                data: JSON.stringify({}),
                beforeSend: function () {
                    $('.loading').show();
                    $('#leftcoins').slideUp();
                },
                success: function (response) {
                    updateSales(response.leftcoins);
                },
                error: function (err) {
                    alert(err.msg);
                    $('#leftcoins').slideDown();
                },
                complete: function () {
                    $('.loading').hide();
                }
            });
        }
    </script>
}